body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}
* {
    box-sizing: border-box;
}

th {
    background-color: aliceblue !important;
}

.el-button--primary {
    width: 80px;
    height: 40px;
    font-size: 15px;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}

.el-button--primary:hover {
    box-shadow: inset 0 0 0 4px #ef476f,
    inset 0 0 0 8px #ffd166,
    inset 0 0 0 12px #06d6a0,
    inset 0 0 0 16px #118ab2;
    background: #073b4c;
    color: #fff;
}

/*.el-button--primary:active {*/
/*    transform: translate(0em, 0.2em);*/
/*}*/
/*.el-button {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*}*/
/*.el-button--danger {*/
/*    height:30px;*/
/*    line-height: 0.4;*/
/*    background-color:#c13030;*/
/*    border:1px solid #f57d7d;*/
/*    border-radius:1px;*/
/*    span {*/
/*    font-family:Microsoft YaHei UI;*/
/*    color:#fff;*/
/*    font-size:14px;*/
/*    letter-spacing:1px;*/
/*    }*/
/*}*/



